@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-10">Welcome to Zensar</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    @*//<img class="logo" src="http://i.imgur.com/hCrQkJi.png">*@
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPBx8fKm-UdL5GuhTpOaEq7kM3WCSD5FMGOrZ1OpAydWiPIzFWxDFOeH3FJaIjZ9nCUWU&usqp=CAU" alt="HTML5 Icon" width="800" height="500">
</div>
