@*@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>*@

<p>
    <br /><br />
    Zensar traces its origin to 1922 when a British original-equipment manufacturing firm established a regional manufacturing unit in Pune, India. The firm evolved to become the Indian manufacturing arm of British computer maker ICL, and was re-named ICIM (International Computers Indian Manufacture). In 1963, ICIM listed on the Bombay Stock Exchange. In 1991, ICIM established a subsidiary company named International Computers Limited (ICIL), with a focus on software. In 1999, the original hardware division of ICIM was shuttered, leaving ICIM/ICIL as a purely software company.

In February 2000, the company renamed to Zensar.[1] Ganesh Natarajan became CEO in 2001, beginning a 15-year tenure.[6] From 2000 to 2005, the company focused on application management for its clients.[7] RPG Group, the Indian industrial conglomerate headquartered in Mumbai, Maharashtra, is the majority shareholder in the company. The company continues to have its headquarters in Pune in Western India.

By 2012, Zensar had approximately 11000 employees servicing 400 clients in over 20 global locations[8] and at the end of the 2019 financial year earned revenues of over US$550 million.[2][9]

Sandeep Kishore was named Zensar's CEO in 2016, taking over from Ganesh Natarajan,[10][6] with Zensar Technology backers being RPG Enterprises. In 2015, APAX Portfolio Company acquired a stake in Zensar from Electra Partners Mauritius.[9][5]

As of October 2018, Zensar Technologies has offices in over 20 countries.[11] It is listed on both the National Stock Exchange of India (NSE) and the Bombay Stock Exchange (BSE) and is a component of several indices including the NSE's Nifty 500 and the S&P BSE 500.[12] In December 2020, Ajay S. Bhutoria was named Zensar's CEO.[3]

Zensar’s business is spread between North America, United Kingdom, parts of Europe and South Africa.[13] Zensar’s teams work out of 33 global locations, including offices of acquired entities.
</p>
