@model EmpDeptProject.Models.Models.Department
@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>*@
<partial name = "_AlertPartial"/>
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Department</h2>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"> </div>


        </div>
        @*<div class="mb-3">
            <label asp-for="DeptId"></label>
            <input asp-for="DeptId" class="form-control"/>
            <span asp-validation-for="DeptId" class ="text-danger"></span>
            @* Html.ValidationMessageFor(m=>m.CategoryName,"Category name cannot be more than 20 character")
        </div>*@

         <div class="mb-3">
            <label asp-for="DeptName"></label>
            <input asp-for="DeptName" class="form-control"/>
        </div>

         
        <button type ="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Departments" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
    </div>

</form>