@model EmpDeptProject.Models.Models.Employee
@{
    ViewData["Title"] = "Delete";
}

@*<h1>Delete</h1>*@
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Employee</h2>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"> </div>


        </div>

         <div class="mb-3">
            <label asp-for="EmpName"></label>
            <input asp-for="EmpName" class="form-control"/>
            @* <span asp-validation-for="EmpId" class ="text-danger"></span>*@
        </div>

         <div class="mb-3">
            <label asp-for="EmpSalary"></label>
            <input asp-for="EmpSalary" type ="int" class="form-control"/>
        </div>
         <div class="mb-3">
            <label asp-for="DeptId"></label>
            <input asp-for="DeptId" type ="int" class="form-control"/>
        </div>
        <button type ="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Employees" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
    </div>

</form>
@section Scripts
    {
            <partial name="_ValidationScriptsPartial.cshtml" />
}




